/* UserDetail.css */

.user-detail-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.user-info {
    font-size: 16px;
}

.link-button {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.link-button:hover {
    text-decoration: underline;
    color: #0056b3;
}
